.porterbuddy-header {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
}
#porterbuddy-widget-title {
    padding: 1.2rem 1.2rem 1.2rem 4rem;
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}
#porterbuddy-widget-wrapper {
    padding: 1rem 1rem 1rem 1rem;
    border: 2px solid #3065ae;
}

.shipping-logo {
    margin: 1rem 0 1rem auto;
    display: block;
}

#polarcore #kco_shipping_available .sp-methods #porterbuddy-widget .pb-btn--secondary{
    position: relative;
    color: #353535;
    background: #fff;
    background-color: #fff;
    border: 1px solid #353535;
    outline: 1px solid transparent;
    font-size: 1em;
    text-align: left;
    line-height: 1.5;
    letter-spacing: normal;
    top: 0;
    right: 0;
    height: 2.5em;
    padding: 0 1.5em;
    margin: 0;
}
#polarcore #kco_shipping_available .sp-methods #porterbuddy-widget .pb-btn--secondary::before{
    content: none;
}
#polarcore #kco_shipping_available .sp-methods dd .pb-checkout__label input{
    display: inline-block;
}
.product-view #porterbuddy-widget {
    display: flex;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
